This unit include Introduction of Python and
Topics-

*   Variable
*   Operators
*   Datatypes
*   Strings

# Introduction

Just like any other language to communicate with each other, we use python to communicate with computer.
It was created by Guido Van Rossum in 1991.
It is used for various purpose like -

1.   Web Devlopment
2.  Software Devlopment

In [ ]:
# Writing our first program.
# We use print() keyword to print the objects.

print("Hello World!")
print('Hello World!')

# We can use both double and single quote to print.

Hello World!
Hello World!

In [ ]:
# Taking input in python using input() keyword

name = input("Tell me your name : ")
print(name)

Tell me your name : Jon
Jon

# Comments

Comments are used to write something which we do not want to run or execute.


1.  Single line == #
2.  Multi-line == ''' '''

In [ ]:
var = 10
# Here print is variable. This is a comment.

# Datatype

* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

# Variables

Variables are containers for storing data values.

**Rules**


*   Variable name contain letter or underscore(_).
*  It Cannot start with number and no whitescape is allowed.
*  Case-senistive.
*  Variable should not be any python keyword.
EX- print, string etc.


We can define varibale in following cases -


1.  Camel case - Eachword, except first word start with capital letter.
2.  Pascal case - Eachword start with capital letter.
3.  Snake case - Eachword is seprated with underscore.

In [ ]:
# Creating a variable
var = 10
# This is int variable

str1 = "Hello"
# This is string variable

print(var)
print(str1)

10
Hello

In [ ]:
# Type function - Using this function we can know the datatype of variables.

print(type(var))
print(type(str1))

<class 'int'>
<class 'str'>

# Operators
Operators are used to perform operations on variables and values.
Types of operators -

* Arithmetic operators (like +, -, *, /) are for doing math.
* Assignment operators (like =, +=, -=) are for assigning values.
* Comparison operators (like ==, !=, >, <) compare values.
* Logical operators ( and, or, not) combine conditions.
* Identity operators (is, is not) check if objects are the same.
* Membership operators (in, not in) check if something is in a sequence.
* Bitwise operators (like &, |, ^) work on bits.

In [ ]:
# Arithmetic Operators
x = 10
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)

15
5
50
2.0

In [ ]:
# Assignment Operators
a = 10
b = 15
a += 5
b -= 3
print(a)
print(b)

15
12

In [ ]:
# Comparison Operators
print(a == b)
print(a > b)

False
True

In [ ]:
# Logical Operators
is_sunny = True
is_warm = False
print(is_sunny and is_warm)
print(is_sunny or is_warm)

False
True

### Boolenas
 In Python, booleans represent truth values. They can be either True or False. They're fundamental for making decisions and controlling the flow of your code.
 Booleans are used with logical operators like and or and not to create conditions.

In [ ]:

raining = True
sunny = False

if raining and not sunny:
    print("Take an umbrella!")
elif raining or sunny:
    print("The weather is interesting today.")
else:
    print("Enjoy the day!")

Take an umbrella!

# String

Anything inside quote is considerd as string in python and we use both quotes single and double.
Ex - "This is also a string."
     'This is also a string.'

Another type of string is formated string -
You can use f-strings to format strings in Python. They are denoted by placing an 'f' before the opening quotation mark of a string.

In [ ]:
my_string = "Hello world!"
print(my_string)

Hello world!

In [ ]:
# Multiple values in string

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# OR
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange

In [ ]:
# Concatenation of string

str1 = "Hello"
str2 = "World"
print(str1 + str2)

# Using f-string
print(f"{str1} {str2}")

HelloWorld
Hello World

### Modify string to -



*  Uppercase - upper()
*  Lowercase - lower()
*  Remove whitespace - strip() It will remove whitespace from beginning and end.

In [ ]:
# Consider a string

string1 = " Good Morning"

print(string1.upper())
print(string1.lower())
print(string1.strip())

 GOOD MORNING
 good morning
Good Morning

### String function



*   len() - Returns length of string.
*   stringendwith() - Tell wether string end with given word.
Gives answer in True or False.
*   count() - Tells number of occurances of character.
*   Find() - It finds word and gives index of first occurance of given string.

In [ ]:
string2 = "I Love Python"

print(len(string2))
print(string2.endswith("Python"))
print(string2.count("o"))
print(string2.find("Love"))

13
True
2
2

## Indexing
Indexing allows you to access a specific element in a sequence.

Positive Indexing: Starts from 0 for the first element to n-1 for the last element.
Negative Indexing: Starts from -1 for the last element to -n for the first element.

## Slicing
Slicing allows you to access a range of elements in a sequence.

In [ ]:
# Positive Indexing
my_list = [10, 20, 30, 40, 50]
print(my_list[0])
print(my_list[3])

10
40

In [ ]:
# Negative Indexing
print(my_list[-1])
print(my_list[-3])

50
30

In [ ]:
# Slicing
print(my_list[1:4])
print(my_list[:3])
print(my_list[2:])

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]